# Data Preparation

## Import Library

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
from zipfile import ZipFile

## Import Data

In [2]:
with ZipFile('used-vehicles-for-sale.zip') as raw_zip:
    raw_zip.extractall(path='datasets')
    
    file_name = raw_zip.namelist()
    
    raw_data = []
    
    for file in file_name:
        try:
            raw_data.append(pd.read_csv(f'datasets/{file}'))
        except UnicodeDecodeError:
            print(f'{file}: Wrong format file')
        
    print(file_name)

formattedData.xlsx: Wrong format file
['formattedData.xlsx', 'originalData.csv']

In [3]:
raw_data[0].head()

,Unnamed: 0,Year,Make,Model,Kilometres,Body Type,Engine,Transmission,Drivetrain,Exterior Colour,Interior Colour,Passengers,Doors,Fuel Type,City,Highway,Price
0,0,2019,Acura,MDX,53052 km,SUV,V6 Cylinder Engine,9 Speed Automatic,AWD,Majestic Black Pearl,Red,NaN,NaN,Gas,12.2L/100km,9.0L - 9.5L/100km,43880
1,1,2018,Acura,MDX,77127 km,SUV,V6 Cylinder Engine,9 Speed Automatic,AWD,Modern Steel Metallic,Black,NaN,NaN,Gas,12.6L/100km,9.0L/100km,36486
2,2,2019,Acura,RDX,33032 km,SUV,2.0L 4cyl,10 Speed Automatic,AWD,White Diamond Pearl,Black,5.0,4,Premium Unleaded,11.0L/100km,8.6L/100km,40888
3,3,2020,Acura,RDX,50702 km,SUV,4 Cylinder Engine,NaN,AWD,Platinum White Pearl,Black,NaN,NaN,Gas,11.0L/100km,8.6L/100km,44599
4,4,2021,Acura,RDX,67950 km,SUV,4 Cylinder Engine,NaN,AWD,Apex Blue Pearl,Red,NaN,NaN,Gas,11.3L/100km,9.1L/100km,46989

In [4]:
full_data = raw_data[0].iloc[:, 1:]

full_data.head()

,Year,Make,Model,Kilometres,Body Type,Engine,Transmission,Drivetrain,Exterior Colour,Interior Colour,Passengers,Doors,Fuel Type,City,Highway,Price
0,2019,Acura,MDX,53052 km,SUV,V6 Cylinder Engine,9 Speed Automatic,AWD,Majestic Black Pearl,Red,NaN,NaN,Gas,12.2L/100km,9.0L - 9.5L/100km,43880
1,2018,Acura,MDX,77127 km,SUV,V6 Cylinder Engine,9 Speed Automatic,AWD,Modern Steel Metallic,Black,NaN,NaN,Gas,12.6L/100km,9.0L/100km,36486
2,2019,Acura,RDX,33032 km,SUV,2.0L 4cyl,10 Speed Automatic,AWD,White Diamond Pearl,Black,5.0,4,Premium Unleaded,11.0L/100km,8.6L/100km,40888
3,2020,Acura,RDX,50702 km,SUV,4 Cylinder Engine,NaN,AWD,Platinum White Pearl,Black,NaN,NaN,Gas,11.0L/100km,8.6L/100km,44599
4,2021,Acura,RDX,67950 km,SUV,4 Cylinder Engine,NaN,AWD,Apex Blue Pearl,Red,NaN,NaN,Gas,11.3L/100km,9.1L/100km,46989

# Data Cleaning

## Columns Information

In [5]:
full_data.columns

Index(['Year', 'Make', 'Model', 'Kilometres', 'Body Type', ' Engine',
       ' Transmission', ' Drivetrain', ' Exterior Colour', ' Interior Colour',
       ' Passengers', ' Doors', ' Fuel Type', ' City', ' Highway', 'Price'],
      dtype='object')

*Warning: Some of column name contains space in the beginning. Hence we will remove it*

In [6]:
full_data.columns = full_data.columns.str.replace(' ', '')

full_data.columns

Index(['Year', 'Make', 'Model', 'Kilometres', 'BodyType', 'Engine',
       'Transmission', 'Drivetrain', 'ExteriorColour', 'InteriorColour',
       'Passengers', 'Doors', 'FuelType', 'City', 'Highway', 'Price'],
      dtype='object')

Columns Information
1. `Year`: The year of the vehicle (year release)
2. `Make`: The make of the vehicle (brand)
3. `Model`: The model of the vehicle
4. `Kilometres`: The distance the vehicle has travelled in Kilometeres
5. `BodyType`: The type of Body the vehicle has
6. `Engine`: Type of Engine in the vehicle
7. `Transmission`: Transmission used in the vehicle
8. `Drivertrain`: Drivetrain configuration of the vehicle
9. `ExteriorColour`: Exterior Colour of the vehicle
10. `InteriorColour`: Interior Colour of the vehicle.
11. `Passengers`: Passengers capacity
12. `Doors`: The number of doors
13. `Fuel Type`: Fuel type of the vehicle
14. `City`: Fuel used per 100 km in city
15. `Highway`: Fuel used per 100 km in highway
16. `Price`: Price of the vehicle in 2023

## Column Data Type

In [7]:
full_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24198 entries, 0 to 24197
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Year            24198 non-null  int64
 1   Make            24198 non-null  object
 2   Model           24198 non-null  object
 3   Kilometres      23965 non-null  object
 4   BodyType        22968 non-null  object
 5   Engine          22136 non-null  object
 6   Transmission    22854 non-null  object
 7   Drivetrain      22967 non-null  object
 8   ExteriorColour  23182 non-null  object
 9   InteriorColour  16418 non-null  object
 10  Passengers      12025 non-null  float64
 11  Doors           19611 non-null  object
 12  FuelType        23464 non-null  object
 13  City            17835 non-null  object
 14  Highway         17835 non-null  object
 15  Price           24198 non-null  int64
dtypes: float64(1), int64(2), object(13)
memory usage: 3.0+ MB

Based on the columns information, `Kilometres`, `Doors`, `City`, and `Highway` should be a numeric data type. Let's inspect it one by one.

### Kilometres Column

In [8]:
full_data['Kilometres']

0        53052 km
1        77127 km
2        33032 km
3        50702 km
4        67950 km
           ...
24193    81000 km
24194    92450 km
24195    92000 km
24196    67000 km
24197    43245 km
Name: Kilometres, Length: 24198, dtype: object

The problem is the data contains string 'km', hence pandas treat it as object data type. Let's check if all rows contains 'km'.

In [9]:
full_data['Kilometres'].str.contains('km').value_counts()

True    23965
Name: Kilometres, dtype: int64

All rows contains 'km', so we will remove it and then convert the column data type into float.

In [10]:
full_data['Kilometres'] = full_data['Kilometres'].str.replace(' km', '').astype(float)

### Doors Column

In [11]:
full_data['Doors']

0            NaN
1            NaN
2              4
3            NaN
4            NaN
          ...
24193    5 doors
24194          5
24195    4 doors
24196    4 doors
24197    5 doors
Name: Doors, Length: 24198, dtype: object

In [12]:
full_data['Doors'].value_counts()

4                     14313
2                      2907
4 doors                1004
5                       675
5 doors                 361
2 doors                 219
3                        89
3 doors                  39
Other/Donât Know        3
2.0                       1
Name: Doors, dtype: int64

Same as previous column, the problem is there some rows contains string.

In [13]:
full_data['Doors'] = pd.to_numeric(
    full_data['Doors'].str.replace(' doors', ''),
    errors='coerce'
).astype('Int64')

Note: we use `pd.to_numeric` instead of `astype` like the previous one, it's because `pd.to_numeric` can handle invalid input i.e. `Other/Donât Know` and turn them into `NaN` value, after that we use `astype` to convert the data type into `Int64` because it can handle nullable int data.

### City Column

In [24]:
full_data['City']

0        12.2L/100km
1        12.6L/100km
2        11.0L/100km
3        11.0L/100km
4        11.3L/100km
            ...
24193            NaN
24194            NaN
24195            NaN
24196            NaN
24197            NaN
Name: City, Length: 24198, dtype: object

In [20]:
full_data['City'].str.contains('100km').value_counts()

True    17835
Name: City, dtype: int64

It all contains '100km', just in case if some rows contains space, let's remove the space to make sure we can remove 'L/100km'.

In [32]:
city_no_str = full_data['City'].str.replace(' ', '').str.replace('L/100km', '')

city_no_str

0        12.2
1        12.6
2        11.0
3        11.0
4        11.3
         ...
24193     NaN
24194     NaN
24195     NaN
24196     NaN
24197     NaN
Name: City, Length: 24198, dtype: object

In [33]:
city_no_str.value_counts()

10.8          482
9.8           478
11.5          466
7.8           420
11.0          374
             ...
4.8             1
6.4L-6.9        1
6.6L-7.1        1
12.6L-13.1      1
8.9L-9.0        1
Name: City, Length: 523, dtype: int64

It turns out some rows contains '-', let's take the last number and ditch the first number. Here is the implementation:
1. We split the string based on '-' and expand it to dataframe, so there will be 2 columns, we store it in variable called `city_split`
2. The rows that doesn't contains '-', their column 1 would be null, hence we use it as `city_mask`
3. We filter the splitted data and shift the data in column 0 to column 1
4. Finally we only take the column 1 and convert it to float

In [89]:
# step 1
city_split = city_no_str.str.split('-', expand=True)

# step 2
city_mask = city_split[1].isnull()

# step 3
city_split[city_mask] = city_split[city_mask].shift(axis=1)

# step 4
full_data['City'] = city_split[1].astype(float)

### Highway Column

Since this columns similar to `City` column, we will perform the same steps.

In [79]:
full_data['Highway']

0        9.0L - 9.5L/100km
1               9.0L/100km
2               8.6L/100km
3               8.6L/100km
4               9.1L/100km
               ...
24193                  NaN
24194                  NaN
24195                  NaN
24196                  NaN
24197                  NaN
Name: Highway, Length: 24198, dtype: object

In [90]:
highway_no_str = full_data['Highway'].str.replace(' ', '').str.replace('L/100km', '')

# step 1
highway_split = highway_no_str.str.split('-', expand=True)

# step 2
highway_mask = highway_split[1].isnull()

# step 3
highway_split[highway_mask] = highway_split[highway_mask].shift(axis=1)

# step 4
full_data['Highway'] = highway_split[1].astype(float)

All done! Let's check the data type again

In [94]:
full_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24198 entries, 0 to 24197
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Year            24198 non-null  int64
 1   Make            24198 non-null  object
 2   Model           24198 non-null  object
 3   Kilometres      23965 non-null  float64
 4   BodyType        22968 non-null  object
 5   Engine          22136 non-null  object
 6   Transmission    22854 non-null  object
 7   Drivetrain      22967 non-null  object
 8   ExteriorColour  23182 non-null  object
 9   InteriorColour  16418 non-null  object
 10  Passengers      12025 non-null  float64
 11  Doors           19608 non-null  Int64
 12  FuelType        23464 non-null  object
 13  City            17835 non-null  float64
 14  Highway         17835 non-null  float64
 15  Price           24198 non-null  int64
dtypes: Int64(1), float64(4), int64(2), object(9)
memory usage: 3.0+ MB