# Data Preparation

## Import Library

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
from zipfile import ZipFile

## Import Data

In [4]:
with ZipFile('used-vehicles-for-sale.zip') as raw_zip:
    raw_zip.extractall(path='datasets')
    
    file_name = raw_zip.namelist()
    
    raw_data = []
    
    for file in file_name:
        try:
            raw_data.append(pd.read_csv(f'datasets/{file}'))
        except UnicodeDecodeError:
            print(f'{file}: Wrong format file')
        
    print(file_name)

formattedData.xlsx: Wrong format file
['formattedData.xlsx', 'originalData.csv']

In [7]:
raw_data[0].head()

,Unnamed: 0,Year,Make,Model,Kilometres,Body Type,Engine,Transmission,Drivetrain,Exterior Colour,Interior Colour,Passengers,Doors,Fuel Type,City,Highway,Price
0,0,2019,Acura,MDX,53052 km,SUV,V6 Cylinder Engine,9 Speed Automatic,AWD,Majestic Black Pearl,Red,NaN,NaN,Gas,12.2L/100km,9.0L - 9.5L/100km,43880
1,1,2018,Acura,MDX,77127 km,SUV,V6 Cylinder Engine,9 Speed Automatic,AWD,Modern Steel Metallic,Black,NaN,NaN,Gas,12.6L/100km,9.0L/100km,36486
2,2,2019,Acura,RDX,33032 km,SUV,2.0L 4cyl,10 Speed Automatic,AWD,White Diamond Pearl,Black,5.0,4,Premium Unleaded,11.0L/100km,8.6L/100km,40888
3,3,2020,Acura,RDX,50702 km,SUV,4 Cylinder Engine,NaN,AWD,Platinum White Pearl,Black,NaN,NaN,Gas,11.0L/100km,8.6L/100km,44599
4,4,2021,Acura,RDX,67950 km,SUV,4 Cylinder Engine,NaN,AWD,Apex Blue Pearl,Red,NaN,NaN,Gas,11.3L/100km,9.1L/100km,46989

In [10]:
full_data = raw_data[0].iloc[:, 1:]

full_data.head()

,Year,Make,Model,Kilometres,Body Type,Engine,Transmission,Drivetrain,Exterior Colour,Interior Colour,Passengers,Doors,Fuel Type,City,Highway,Price
0,2019,Acura,MDX,53052 km,SUV,V6 Cylinder Engine,9 Speed Automatic,AWD,Majestic Black Pearl,Red,NaN,NaN,Gas,12.2L/100km,9.0L - 9.5L/100km,43880
1,2018,Acura,MDX,77127 km,SUV,V6 Cylinder Engine,9 Speed Automatic,AWD,Modern Steel Metallic,Black,NaN,NaN,Gas,12.6L/100km,9.0L/100km,36486
2,2019,Acura,RDX,33032 km,SUV,2.0L 4cyl,10 Speed Automatic,AWD,White Diamond Pearl,Black,5.0,4,Premium Unleaded,11.0L/100km,8.6L/100km,40888
3,2020,Acura,RDX,50702 km,SUV,4 Cylinder Engine,NaN,AWD,Platinum White Pearl,Black,NaN,NaN,Gas,11.0L/100km,8.6L/100km,44599
4,2021,Acura,RDX,67950 km,SUV,4 Cylinder Engine,NaN,AWD,Apex Blue Pearl,Red,NaN,NaN,Gas,11.3L/100km,9.1L/100km,46989

# Data Cleaning

## Columns Information

In [13]:
full_data.columns

Index(['Year', 'Make', 'Model', 'Kilometres', 'Body Type', ' Engine',
       ' Transmission', ' Drivetrain', ' Exterior Colour', ' Interior Colour',
       ' Passengers', ' Doors', ' Fuel Type', ' City', ' Highway', 'Price'],
      dtype='object')

*Warning: Some of column name contains space in the beginning. Hence we will remove it*

In [21]:
full_data.columns = full_data.columns.str.replace(' ', '')

full_data.columns

Index(['Year', 'Make', 'Model', 'Kilometres', 'BodyType', 'Engine',
       'Transmission', 'Drivetrain', 'ExteriorColour', 'InteriorColour',
       'Passengers', 'Doors', 'FuelType', 'City', 'Highway', 'Price'],
      dtype='object')

Columns Information
1. `Year`: The year of the vehicle (year release)
2. `Make`: The make of the vehicle (brand)
3. `Model`: The model of the vehicle
4. `Kilometres`: The distance the vehicle has travelled in Kilometeres
5. `BodyType`: The type of Body the vehicle has
6. `Engine`: Type of Engine in the vehicle
7. `Transmission`: Transmission used in the vehicle
8. `Drivertrain`: Drivetrain configuration of the vehicle
9. `ExteriorColour`: Exterior Colour of the vehicle
10. `InteriorColour`: Interior Colour of the vehicle.
11. `Passengers`: Passengers capacity
12. `Doors`: The number of doors
13. `Fuel Type`: Fuel type of the vehicle
14. `City`: Fuel used per 100 km in city
15. `Highway`: Fuel used per 100 km in highway
16. `Price`: Price of the vehicle in 2023

## Column Data Type

In [22]:
full_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24198 entries, 0 to 24197
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Year            24198 non-null  int64
 1   Make            24198 non-null  object
 2   Model           24198 non-null  object
 3   Kilometres      23965 non-null  object
 4   BodyType        22968 non-null  object
 5   Engine          22136 non-null  object
 6   Transmission    22854 non-null  object
 7   Drivetrain      22967 non-null  object
 8   ExteriorColour  23182 non-null  object
 9   InteriorColour  16418 non-null  object
 10  Passengers      12025 non-null  float64
 11  Doors           19611 non-null  object
 12  FuelType        23464 non-null  object
 13  City            17835 non-null  object
 14  Highway         17835 non-null  object
 15  Price           24198 non-null  int64
dtypes: float64(1), int64(2), object(13)
memory usage: 3.0+ MB

Based on the columns information, `Kilometres`, `Doors`, `City`, and `Highway` should be a numeric data type. Let's inspect it one by one.

### Kilometres Column

In [28]:
full_data['Kilometres']

0        53052 km
1        77127 km
2        33032 km
3        50702 km
4        67950 km
           ...
24193    81000 km
24194    92450 km
24195    92000 km
24196    67000 km
24197    43245 km
Name: Kilometres, Length: 24198, dtype: object

The problem is the data contains string 'km', hence pandas treat it as object data type. Let's check if all rows contains 'km'.

In [31]:
full_data['Kilometres'].str.contains('km').value_counts()

True    23965
Name: Kilometres, dtype: int64

All rows contains 'km', so we will remove it and then convert the column data type into float.

In [36]:
full_data['Kilometres'] = full_data['Kilometres'].str.replace(' km', '').astype(float)